.one{
    border: 10px solid black;
    margin: 5px;
    background-color: red;

}

.two{
    border: 20px solid gray;
    margin: 25px;
    background-color: blue;

}

.three{
    border: 30px solid brown;
    margin: 45px;
    background-color: green;
}

.one, .two, .three{
    width: 200px;
    height: 150px;
    padding: 20px;
}